<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.legoweb.dao.ParamsMapper">
    <resultMap id="BaseResultMap" type="com.legoweb.entity.Params">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="params_name" jdbcType="VARCHAR" property="paramsName"/>
        <result column="project_id" jdbcType="VARCHAR" property="projectId"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="params_expression" jdbcType="VARCHAR" property="paramsExpression"/>
        <result column="database_id" jdbcType="INTEGER" property="databaseId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, params_name, project_id, description, type, params_expression, database_id,create_time, update_time
  </sql>

    <sql id="selectWhere">
        <if test="data !=null">
            <if test="data.id !=null">
                and id LIKE concat('%',#{data.id,jdbcType=INTEGER},'%')
            </if>
            <if test="data.paramsName!=null">
                and params_name LIKE concat('%',#{data.paramsName,jdbcType=VARCHAR},'%')
            </if>
            <if test="data.projectId!=null">
                and project_id = #{data.projectId,jdbcType=VARCHAR}
            </if>
            <if test="data.paramsExpression!=null">
                and params_expression LIKE concat('%',#{data.paramsExpression,jdbcType=VARCHAR},'%')
            </if>
            <if test="data.databaseId!=null">
                and database_id LIKE concat('%',#{data.databaseId,jdbcType=INTEGER},'%')
            </if>
            <if test="data.type!=null">
                and type = #{data.type,jdbcType=VARCHAR}
            </if>
        </if>
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from params
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectParams" resultMap="BaseResultMap" parameterType="com.legoweb.entity.PageCondition">
        select
        <include refid="Base_Column_List"></include>
        from params
        where 1 =1
        <include refid="selectWhere"></include>
    </select>
    <select id="uniqueParams" resultType="java.lang.Integer" parameterType="com.legoweb.entity.Params">
        select count(1) from params where params_name = #{paramsName,jdbcType=VARCHAR}
        <if test="id!=null">
            and id != #{id,jdbcType=INTEGER}
        </if>
        <if test="projectId!=null">
            and project_id = #{projectId,jdbcType=INTEGER}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from params
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.legoweb.entity.Params"
            keyProperty="id">
    insert into params (id, params_name, project_id, 
      description, type, params_expression, database_id,
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{paramsName,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{paramsExpression,jdbcType=VARCHAR},
       #{databaseId,jdbcType=INTEGER},
      now(), now())
  </insert>
    <insert id="insertSelective" parameterType="com.legoweb.entity.Params">
        insert into params
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="paramsName != null">
                params_name,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="paramsExpression != null">
                params_expression,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="paramsName != null">
                #{paramsName,jdbcType=VARCHAR},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="paramsExpression != null">
                #{paramsExpression,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.legoweb.entity.Params">
        update params
        <set>
            <if test="paramsName != null">
                params_name = #{paramsName,jdbcType=VARCHAR},
            </if>
            <if test="projectId != null">
                project_id = #{projectId,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="paramsExpression != null">
                params_expression = #{paramsExpression,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.legoweb.entity.Params">
    update params
    set params_name = #{paramsName,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      params_expression = #{paramsExpression,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>